body {
	font-family: sans-serif;
}

#navbar {
	position: fixed;
	width: 100%;
	display: block;
	top: 0px;
	left: 0px;
	background-color: #1370c1;
	color: white;
	z-index: 500;
}

#navbar a {
	color: white;
	text-decoration: none;
	padding: 15px;
	display: inline-block;
	border-bottom: 4px solid #1370c1;
	border-top: 4px solid #1370c1;
	transition: all 200ms ease;
}

#navbar a:hover {
	border-bottom: 4px solid #abe6ff;
	color: #abe6ff;
}

#logo {
	font-weight: bold;
}

#top-buffer {
	height: 70px;
}

#search input[type="text"], #search select {
	width: calc(100% - 45px);
	border: 1px solid #7d7d7d;
	padding: 10px;
	border-radius: 20px;
	padding-left: 30px;
	margin-bottom: 20px;
	background-color: white;
}

#contents {
	padding-left: 10%;
	padding-right: 10%;
}

#results, .results {
/* 	border: 1px solid #7d7d7d; */
	display: block;
	padding: 10px 0px 10px 0px;
	border-radius: 25px;
	height: 80%;
	position: relative;
}

.result {
	background-color: #eeeeee;
	display: inline-block;
	width: calc(100% - 40px);
/* 	border: 1px solid #7d7d7d; */
/* 	border-radius: 25px; */
	padding: 20px;
	margin-bottom: 20px;
}

.result .result-title {
	display: inline-block;
	width: 100%;
	font-weight: bold;
	padding-bottom: 10px;
	padding-top: 10px;
}

.tag {
	display: inline-block;
	border-radius: 20px;
	background-color: #1370c1;
	color: white;
	padding-left: 20px;
	padding-right: 20px;
	transition: all 200ms ease;
	cursor: pointer;
}

.tag:hover {
	color: #1370c1;
	border: 1px solid #1370c1;
	background-color: white;
}

#footer {
	background-color: #cccccc;
	position: absolute;
	display: block;
	left: 0px;
	margin: 0px;
	margin-top: 30px;
	padding: 50px;
	width: calc(100% - 100px);
	font-size: 9pt;
}

label {
	display: none;
}

#toggle-advanced {
	display: block;
/* 	width: 100%; */
/* 	border-bottom: 2px solid #1370c1; */
	margin-bottom: 10px;
/* 	margin-left: 20px; */
	padding: 0px 10px 0px 10px;
	cursor: pointer;
	position: relative;
	right: 0px;
}

#toggle-advanced:before {
	content: '⮟';
	padding-right: 5px;
	color: #1370c1;
}

#toggle-advanced:hover {
	color: #1370c1;
}

#toggle-advanced.toggled:before {
	content: '⮝';
}

#advanced {
	overflow-y: hidden;
	height: 0px;
	transition: all 400ms ease;
}

#advanced.visible {
	height: auto;
}
