# Files created by OS
.DS_Store
desktop.ini
.directory

# Things visual studio code creates
.vscode

# Some editors create a yourfile.name~ file as a backup file
.py~
.ivy~
.sm~
.prism~
.csl~
.xml~
.bak
.pm~
.props~
*.tmp

# Python distribution files
.Python
__pycache__/

